*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

::selection {

    color: none;
    background-color: #ffffff13;
}

/*
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.295);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(255, 0, 0, 0.384);
    -webkit-box-shadow: inset 0 0 6px rgb(255, 9, 9);
}
*/

html {
    scroll-behavior: smooth;
}

.container{
    padding: 0 100px 0 100px;
}

nav ul,
.main-info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background-color: #000;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.4s;
    width: 100%;
    position: fixed;
    left: 0;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */


 /*HABILITAR DEPOIS */
 .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    z-index: 9999;
    background: url(https://thumbs.gfycat.com/RingedNiceFugu-size_restricted.gif) center no-repeat rgb(0, 0, 0);
    /* https://media3.giphy.com/media/UWc5xpirgmbUg5XRRc/giphy.gif */
    /* https://thumbs.gfycat.com/RingedNiceFugu-size_restricted.gif */
}
.navbar {
     z-index: 3;
     background:transparent;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
}

header.sticky{
    background: #181818;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.4s;
    padding: 30px 130px;
}

header.sticky  h1 {
    color: #ffffff;
    transition: 0.6s;
}

header.sticky a:not(.navbar .lgo a) {
    color: #ff5858;
    transition: 0.6s;

}

header.sticky a:hover:not(.navbar .lgo a) {
    color: rgb(255, 255, 255);
    transition: 0.6s;
}

.Banner img{
    width: 100%;
    height: 750px; /*100vh*/
    background-size: cover;
    position: absolute;
    top: -6%;
    z-index: 1;
    opacity: 55%;
    margin-left: -100px;
    display: inline-block;
    z-index: -1;
    -webkit-user-drag: none;
	user-select: none;
}

.Icon{
    display: flex;
    justify-content: center;
}

.Icon img {
  width: 180px; /* 13%*/
  position: absolute;
  top: 150px;
  background-color: #ed5565 ;
  z-index: 2;
  border-right: 10px double #ffffff;
  border-left: 10px double #ffffff;
  border-bottom: 10px solid #ffffff;
  border-top: 10px solid #ffffff;
  border-radius: 100%;
  transition: 1.4s;
  perspective: 1000px;
  transform-style: preserve-3d;
  box-shadow: 0 0 0.8rem #fff; /*box-shadow: 0 0 1.2rem rgb(0, 238, 255);*/
  -webkit-user-drag: none;
  user-select: none;
}

/* .Icon img:hover{
    transform: rotateY(180deg);
    transition: 1.4;

} */

/* header h1{
    color: rgba(255, 255, 255, 0.795);
    transition: 0.6s;
    -webkit-user-drag: none;
    user-select: none;
} */

header span {
    color: #ed5565;
}

header a{
    color: #cfcfcf;
    transition: 0.6s;
    position: relative;
}

header a:hover:not(.navbar .lgo a){
    color: rgb(255, 88, 88);
    transition: 0.6s;
}


.text p
{
    color: #707070;
    transition: 0.6s;
    -webkit-user-drag: none;
	user-select: none;
}

.about h1,
.skills h1,
.work h1,
.contact h1
{
    color: #ffffff;
   -webkit-user-drag: none;
   user-select: none;
}

li {
    list-style: none;
    margin-left: 30px;
}

 

a:not(.navbar .lgo a){
    font-size: .9rem;
    text-transform: uppercase;
   
    
}

a{
    text-decoration: none;
    bottom: 50%;
    position: none;
    top: 50%;
    -webkit-user-drag: none;
	user-select: none;
    transform: translateY(-50%);
}

.main-section-info {
    color: #ffffff;
    position: relative;
    top: 250px;
    z-index: 2;
    -webkit-user-drag: none;
	user-select: none;
}

.about {
    height: 900px;  /*115vh*/
    margin-top: 500px;
    background-color: rgba(59, 59, 59, 0.253);  
    border-top: 6px double #ff0000;
    border-bottom: 6px double #ff0000;
    box-shadow: 0 0 1.2rem #fd0000;
    -webkit-user-drag: none;
	user-select: none;
}

.about-me-info {
    max-width: 	400px;
    height: 600px;   /*80vh*/
    background-color: #0a0a0ae7; 
    box-shadow: 0 0 0.7rem rgb(255, 255, 255), 0px 0px 0px 3px  rgb(255, 255, 255);
    margin-top: 5px;
    border-top: 200px solid #ff3636;
    border-radius: 30px;
    padding: 50px;
    position: relative;
    top: 10px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.about .about-me-info hr {
    border: 1px solid #ff3636;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 0 0.3rem #ff3636;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

 
 .about-me-info a img {
    position: absolute;
    width: 14%;
    height: 60px;
    left: -32%;
    border-radius: 100%;
    transition: .8s;
    opacity: .5;
    transform: translateX(calc(-100% + 100px));

} 

.about-me-info a:nth-child(1) img {
    background-color: black;
    box-shadow: 0 0 1.2rem #0099ff;
    border: 3px solid #00d9ff;
    top: -35%;
}

.about-me-info a:nth-child(2) img {
    background-color: #272727;
    box-shadow: 0 0 1.2rem #36ff9b;
    border: 3px solid #36ff9b;
    border-bottom: 3px solid #36ff9b;
    border-right: 3px solid #36ff9b;
    border-left: 3px solid #36ff9b;
    top: -13%;
}

.about .about-me-info img:nth-child(3) {
    width: 175px; 
    height: 45%;
    position: absolute;
    top: -35%;
    left: 47%;
    right: 47%;
    z-index: 2;
    box-shadow: 0 0 1.2rem #ff3636, 0px -4px 5px 4px #000;
    border-radius: 100%;
    border-top: 7px solid #ff3636;
    border-bottom: 7px double #ff3636;
    border-left: 7px double #ff3636;
    border-right: 7px double #ff3636;
    -webkit-user-drag: none;
	user-select: none;
    transform: translateX(calc(-100% + 100px));

}

.about-me-info a:nth-child(1) img:hover,
.about-me-info a:nth-child(2) img:hover{
  transform: scale(1.5); 
  opacity: 100%;
}

.about h1
 {
    color:#8b8b8b;
    text-shadow: 7px 7px #000000;
    font-size: 10rem;
    z-index: 0;
    letter-spacing: 5px;
    -webkit-text-stroke: 4px rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
   
}

.about-me-info p {
    font-size: 1.0rem;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 20px;
    font-style: italic;
    padding: 0px;
}


.about-me-info p:last-child  {
    top: -33px;
    color: rgb(255, 255, 255);
    position: relative;
    background-color: #0a0a0a;
    width: 10%;
    font-size: 1.1rem;
    left: 45%;
    text-align: center;
}

.about-me-info h3 {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;
}

.about-me-info h2 {
    font-size: 1.4rem;
    color: #35977f;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 5px;
    transition: .6s;
    font-family: 'Raleway', sans-serif;

}

.about-me-info h2:hover {
    color: #48cfad;
    transition: .6s;


}

.about-me-info span {
    color: #ff5858;
    transition: 0.6s;
}

.about-me-info span:hover {
    color: #48cfad;
    transition: 0.6s;
}

.paint {
    width: 405px; /*33%*/
    position: relative;
    top: -300px;
    left: 50%;
    right: 50%;
    transform: translate(-5%);
    -webkit-user-drag: none;
	user-select: none;
}

.text{
    margin-top: 120px;
    text-align: center;
}

.text h1 {
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    cursor: context-menu;
}

.text span {
    display: inline-block;
}

span:hover {
    color: #48cfad;
    transition: all .5s;
}

h1 span{
    transition: .8s;
}

span.name{
    color: #ed5565;
}

span.m-left {
    margin-left: -10px;
}

.text p {
    margin-top: 15px;
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text p:hover{
    color:#48cfad;
    transition: all .5s;
}

.text a {
    padding: 12px 7px;
    background-color: none;
    border: 3px solid #ed5565;
    color: #ed5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 150px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
    text-align: center;
}

.text a:hover{
    color: #fff;
    padding: 12px 22px;
}

.text a::before{
    content: '';
    background-color: #ed5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before{
    height: 100%;
    
}

.contact h1 {
    text-align: right;
    font-size: 10rem;
    opacity: .1;
}

.contact {
    margin-top: 130px;

}

form input,
form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #18191a;
    border: 1px outset #ed5565;
    border-left: 10px outset #ed5565;
    box-shadow: 7px 5px #e9e9e9;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

 form textarea{
    resize: vertical;
    min-height: 270px;
    max-height: 500px;
}

form input:last-child {
    width: 150px;
    background-color: transparent;
    border: 3px solid #ed5565;
    box-shadow: 0 0 1.1rem #ed5565;
    cursor: pointer;
    transition: all .5s;
    letter-spacing: 2px;
    display: inline-block;
    overflow: hidden;
    color: #ed5565;
    position: relative;
    border-radius: 10px;
}

form input:last-child:hover {
    color: #fff;
    background-color:  #ed5565;
    width: 180px;
}

form input:last-child::before{
    content: '';
    background-color: #ed5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

form input:last-child:hover::before{
    height: 100%;
}

footer {
   background-color: #181818;
}

footer hr {
    border: 2px solid #707070;
    margin-top: 80px;
}

footer p {
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
    -webkit-user-drag: none;
	user-select: none;
}

.skills {
    height: 650px; /* 80vh*/
    margin-top: 70px;
}

.skills h1{
    text-align: right;
    font-size: 10rem;
    margin-bottom: 100px;
    opacity: .1;
}

.html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

[data-scroll] {
    transition:  1s;
}

  [data-scroll="in"]{
    opacity: 1;
    
}
  [data-scroll="out"] {
    opacity: 0;
   
}

.skills h1[data-scroll="in"]{
    transform: translateX(0);
    transition:  2s;
}

.skills h1[data-scroll="out"]{
    transform: translateX(80px);
    transform: scale(1.5); 
}

.about-me-info[data-scroll="in"]{
    transition:  2s;
}

.about-me-info[data-scroll="out"]{
    transform: translateX(-380px);
}

.slider[data-scroll="in"]{
    transition:  2s;
}

.slider[data-scroll="out"]{
    transform: translateX(-380px);
}

.html[data-scroll="in"]{
    transform: translateX(0);
    transition:  2s;
}

.html[data-scroll="out"]{
    transform: translateX(80px);
}

.contact form[data-scroll="in"] {
    transition:  2s;
    transform: translateX(0);
}

.contact form[data-scroll="out"]{
    transform: translateX(80px);
}

.contact h1[data-scroll="in"] {
    transition:  2s;
    transform: translateX(0);
}

.contact h1[data-scroll="out"]{
    transform: translateX(80px);
    transform: scale(1.5); 
}



/* div[class^='tag-'] {
    width: 108px;
}

div[class^='tag-'] p {
    color: #fff;
    padding-left: 10px;
    font-size: 1.0rem;
    letter-spacing: 2px;
   top: -25px;
   left: 115px;
   position: relative;
   font-family: 'Raleway', sans-serif;
    z-index: 1;
} */

.progressbar {
    position: relative;
    width: 1000px;
    height: 5px;
    border-radius: 20px;
    margin-top: 7px;
    /* margin-right: 50px; */
    background: #181818;
}

.progressbar p {
    top: -25px;
    position: absolute;
    color: #fff;
    font-size: 1.0rem;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
    left: 25px;
}

div[class^='bar-'] {
    position: absolute;
    height: 5px;
    border-radius: 20px;
    margin: 0.4px;
}

div[class^='bar-']::before {
content: attr(per);
position: absolute;
padding: 4px 6px;
color: rgb(0, 0, 0);
font-size: 12px;
font-weight: bolder;
border-radius: 4px;
top: -35px;
right: 0;
transform: translateX(50%);
}

div[class^='bar-']::after {
content: '';
position: absolute;
width: 10px;
height: 10px;
background-color: rgb(0, 0, 0);
top: -16px;
right: 0;
transform: translateX(50%) rotate(45deg);
border-radius: 2px;
}

div[class='bar-html'] {
    background-color: #f79502;
    box-shadow: 0 0 0.7rem #f79502;
}

div[class='bar-html']::before {
    background: #f79502;
}

div[class='bar-css'] {
    background-color: #00c3ff;
    box-shadow: 0 0 0.7rem #00c3ff;
}

div[class='bar-css']::before {
    background: #00c3ff;
}

div[class='bar-javascript'] {
    background-color: #fbff00;
    box-shadow: 0 0 0.7rem #fbff00;
}

div[class='bar-javascript']::before {
    background: #fbff00;
}

div[class='bar-react'] {
    background-color: #00a2ff;
    box-shadow: 0 0 0.7rem #00a2ff;
}

div[class='bar-react']::before {
    background: #00a2ff;
}

div[class='bar-php'] {
    background-color: #7700ff;
    box-shadow: 0 0 0.7rem #7700ff;
}

div[class='bar-php']::before {
    background: #7700ff;
}

div[class='bar-rpa'] {
    background-color: #00ff88;
    box-shadow: 0 0 0.7rem #00ff88;
}

div[class='bar-rpa']::before {
    background: #00ff88;
}

div[class='bar-net'] {
    background-color: #ea00ff;
    box-shadow: 0 0 0.7rem #ea00ff;
}

div[class='bar-net']::before {
    background: #ea00ff;
}

div[class='bar-sql'] {
    background-color: #f13a4d;
    box-shadow: 0 0 0.7rem #f13a4d;
}

div[class='bar-sql']::before {
    background: #f13a4d;
}

div[class='bar-csharp'] {
    background-color: #00ff15;
    box-shadow: 0 0 0.7rem #00ff15;
}

div[class='bar-csharp']::before {
    background: #00ff15;
}

div[class='bar-xamarin'] {
    background-color: #0059ff;
    box-shadow: 0 0 0.7rem #0059ff;
}

div[class='bar-xamarin']::before {
    background: #0059ff;
}

.bar-html,
.bar-css,
.bar-javascript,
.bar-react,
.bar-php,
.bar-rpa,
.bar-net,
.bar-sql,
.bar-csharp,
.bar-xamarin {
    width: calc(0 - 6px);
}

.work {
    height: 810px; /*110vh*/
    margin-top: 260px;
    background-color: #3b3b3b41;  
    border-top: 6px double #ff0000;
    border-bottom: 6px double #ff0000;
    box-shadow: 0 0 1.2rem #ff0000;  
}

.work h1{
    text-align: left;
    font-size: 10rem;
    color:#8b8b8b;
    text-shadow: 7px 7px #000000;
    letter-spacing: 5px;
    -webkit-text-stroke: 4px rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}

.show{
    display: block;
}

.remove{
    /* display: none; */
   cursor: none;
   pointer-events: none;
   transition: .5s;
   opacity: 0;
}

.slider{
    margin: auto;
    margin-top: 50px;
    width: 800px; /*63%*/
    height: 500px;
    border-radius: 10px;
    overflow: hidden; 
    /* box-shadow: 0px 0px 10px #ffe4e4;
    border-right: 4px solid #00f7ff;
    border-left: 4px solid #ff009d;
    border-top: 4px solid #fffb00;
    border-bottom: 4px solid #00ff73; */
}
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }

   .slides img {
    opacity: 0;
    transition: 1s;
  }

  
  .slides input{
    display: none;
  }
  
  .slide {
    width: 20%;
    transition: 1s;
   } 

  .slide img{
    width: 800px;
    height: 500px;  
   }

  .slide:nth-of-type(3n) img{
    width: 830px;   
   }

  .slide:nth-of-type(6n) img{
    width: 820px; 
   }

  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }

   #radio1:checked ~ .slide:nth-of-type(1) img{
    opacity: 100;
    transition: 4s;
  } 

  #radio2:checked ~ .first{
    margin-left: -20%;
  }

  #radio2:checked ~ .slide:nth-of-type(2n) img{
    opacity: 100;
    transition: 4s;
  }

  #radio3:checked ~ .first{
    margin-left: -40%;
  }

  #radio3:checked ~ .slide:nth-of-type(3n) img{
    opacity: 100;
    transition: 4s;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }

  #radio4:checked ~ .slide:nth-of-type(4n) img{
    opacity: 100;
    transition: 4s;
  }

  #radio5:checked ~ .first{
    margin-left: -80%;
  }

  #radio5:checked ~ .slide:nth-of-type(5n) img{
    opacity: 100;
    transition: 4s;
  }

  #radio6:checked ~ .first{
    margin-left: -100%;
  }

  #radio6:checked ~ .slide:nth-of-type(6n) img{
    opacity: 100;
    transition: 4s;
  }

  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #40D3DC;
}

#radio6:checked ~ .navigation-auto .auto-btn6{
    background: #40D3DC;
}


/*Responsive layout*/
/*
@media screen and (max-width: 516px) {

    /* header li a {
        font-size: 10px;
        
    }

    .lgo h1{
        font-size: 15px;

    } */

    /* header{

        justify-content: space-around;
    } */
/*
    li {
        margin-left: 10px;
    }

    .about-me-info {
    max-width: 	340px;
    height: 90vh;
    padding: 35px;
    }

    .about img {
    width: 255px;
    top: -150px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    }

    .about-me-info a img {
        position: absolute;
        left: -20%;
        transform: scale(0.9);
    }

    .about-me-info a:nth-child(1) img:hover,
    .about-me-info a:nth-child(2) img:hover{
        transform: scale(1.1);
    
    }
    
    
    .about h1,
    .work h1{
        -webkit-text-stroke: 2px rgb(255, 255, 255);
    }
    .text h1 {
        font-size: 2rem;
    }

    .about h1,
    .skills h1,
    .work h1,
    .contact h1 {
        font-size: 3rem;
    }

    form input,
    form textarea {
        width: 300px;
        font-size: 1.0rem;
    }

    div[class^='tag-'] p {
        
        letter-spacing: 2px;
       top: -15px;
       left: -150%;
    }
    */


@media screen and (max-width: 480px) {

    .container:not(.Banner):not(.skills){
        padding: 0 15px 0 15px;
    }

    .Icon img {
        width: 140px; /* 13%*/
        position: absolute;
        top: 145px;
    }

    header {
        justify-content: space-around;
        padding: 15px 35px;
    
    }
    
    header.sticky{
        padding: 20px 35px;
    }

    li {
        margin-left: 15px;
    } 

    a:not(.navbar .lgo a){
        font-size: .9rem;
        text-transform: uppercase;
       
        
    }

    .text h1 {
        font-size: 2rem;
    }
    
    .about h1,
    .work h1,
    .contact h1 {
        font-size: 3.4rem;
        white-space:nowrap;
    }

    .skills h1{
        font-size: 3.8rem;
    }



    .about h1,
    .work h1{
        -webkit-text-stroke: 2px rgb(255, 255, 255);
    }


    .about-me-info {
        max-width: 	320px;
        padding: 30px;
        }

    form input,
    form textarea {
        width: 300px;
        font-size: 1.0rem;
    }

    .about-me-info a img {
        position: absolute;
        transform: scale(0.9);
    }
    
    .about-me-info a:nth-child(1) img {
        top: -48%; /*85%*/
        left: 80%; /*75%*/
    }
    
    .about-me-info a:nth-child(2) img {
        top: -48%; /*85%*/
        left: 5%; /*10%*/
    }

    .about-me-info a:nth-child(1) img:hover,
    .about-me-info a:nth-child(2) img:hover{
        transform: scale(1.0);
    
    }

    .paint {
        top: -180px;
        width: 295px;
        transform: translate(-5%);
        }

    .slider{
        width: 400px; 
    }

    .slide img{
        width: 400px;
    }

      .slide:nth-of-type(3n) img{
        width: 430px;   
       }
    
      .slide:nth-of-type(6n) img{
        width: 420px; 
       }

      .navigation-manual{
        width: 400px;
      }

      .navigation-auto{
        width: 400px;
      }


      .progressbar{

        margin-left: -50px;
        margin-right: -50px;
    }

}



/*Medium Smartphones*/
@media screen and (min-width: 481px) and (max-width: 768px) {

    /* .Icon img {
        width: 17vh;
    } */

    .container:not(.Banner):not(.skills){
        padding: 0 20px 0 20px;
    }

    li {
        margin-left: 10px;
    }

    .about-me-info {
    max-width: 	340px;
    padding: 35px;
    }

    .paint {
    top: -180px;
    width: 295px;
    transform: translate(-5%);
    }

    .about-me-info a img {
        position: absolute;
        left: -20%;
        transform: scale(0.9);
    }

    .about-me-info a:nth-child(1) img:hover,
    .about-me-info a:nth-child(2) img:hover{
        transform: scale(1.1);
    
    }
    
    
    .about h1,
    .work h1{
        -webkit-text-stroke: 2px rgb(255, 255, 255);
    }
    .text h1 {
        font-size: 2rem;
    }

    .about h1,
    .work h1,
    .contact h1 {
        font-size: 5.4rem;
        white-space:nowrap;
    }

    .skills h1{
        font-size: 4.5rem;
    }

    form input,
    form textarea {
        width: 300px;
        font-size: 1.0rem;
    }


    .slider{
        width: 400px; /*800px*/
    }

    .slide img{
        width: 400px;
    }

      .slide:nth-of-type(3n) img{
        width: 430px;   
       }
    
      .slide:nth-of-type(6n) img{
        width: 420px; 
       }

      .navigation-manual{
        width: 400px;
      }

      .navigation-auto{
        width: 400px;
      }

      .progressbar{

        margin-right: -30px;
      }

      header{
        justify-content: space-around;
        }

        header.sticky{
            padding: 25px 105px;
        }
}



/*Large Smartphones and small notebooks*/
@media screen and (min-width: 769px) and (max-width: 1199px) {

    .container:not(.Banner):not(.skills){
        padding: 0 80px 0 80px;
    }


    .about h1,
    .skills h1,
    .work h1,
    .contact h1 {
        font-size: 7.5rem;
    }

    .about h1{
        white-space:nowrap;
    }

    .about h1,
    .work h1{
        -webkit-text-stroke: 2px rgb(255, 255, 255);
    }

    .slider{
        width: 670px; /*800px*/
    }


    .slide img{
        width: 680px;
    }

      .slide:nth-of-type(3n) img{
        width: 710px;   
       }
    
      .slide:nth-of-type(6n) img{
        width: 700px; 
       }


    .navigation-manual{
        width: 700px;
      }

      .navigation-auto{
        width: 700px;
      }
}



/*XLarges Screens*/
 /* @media screen and (min-width: 1200px) {

    .container{
        padding: 0 100px 0 100px;
        
    }
}  */